@charset "utf-8";
/* CSS Document Main */
html{
	font-family: Roboto;
}
#fordesigner{
	color: #FFC400;
}
body{
	width: 1400px;
	height: 1000px;
}
.container {
	font-family: Roboto;
	width: 100%;
	height: 2900px;
	background-color:#E4E4E4;
}
.signup{
	align-content: center;
	width: 80px;
	height: 20px;
	padding: 10px 25px;
	background-color:#FFB100;
	border-radius: 10px;
	color:#FFFFFF;
	margin-top: -11px;
}
.batdaungay{
	align-content: center;
	width: 90px;
	height: 30px;
	padding: 10px 25px;
	background-color:#FFB100;
	border-radius: 10px;
	color:#FFFFFF;
	position: relative;
	top: 310px;
	left: 400px;
	margin-top: -11px;
}
.batdaungaychu{
	font-size: 17px;
	color:#FFFFFF;
	position: relative;
	top: 258px;
	left: -112px;
	font-weight: 450;
}
.secondpagecontentbox{
	background-color: #FFFFFF;
	width: 100%;
	height: 780px;
	margin-top: -68px;
}
.thirdpagecontentbox{
	background-color:#F1F1F1;
	width: 100%;
	height: 1180px;
	margin-top: -68px;
}
.footer{
	width: 100%;
	height: 750px;
	background-color: #000287; 
}
.firstpagecontentbox {
	padding-top: 20px;
	width: 100%;
	height: 680px;
	background-color:#F5FDFF;
	background-size: 100%;
}
.firstpagecontent_heading{
	float: left;
	position: relative;
	top: 50px;
	left: 100px;
	margin-top: 200px;
	font-size: 42px;
	font-weight: bold;
	color: #1A00CB;
}
.secondbox_secondpage1{
	width: 240px;
	height: 310px;
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color:#FFBE00;
	position: relative;
	top: 150px;
	left: 110px;
}
.secondbox_secondpage2{
	width: 240px;
	height: 310px;
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color:#FFBE00;
	position: relative;
	top: -165px;
	left: 550px;
}
.secondbox_secondpage3{
	width: 240px;
	height: 310px;
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color:#FFBE00;
	position: relative;
	top: -480px;
	left: 1000px;
}
#featureproduct{
	font-size: 50px;
	font-weight: 600;
	color: #1200B3;
	position: relative;
	top: 100px;
	left: 350px;

}
#imgbox1{
	width: 100px;
	height: 100px;
	position: relative;
	top: -790px;
	left: 190px;
}
#imgbox2{
	width: 100px;
	height: 100px;
	position: relative;
	top: -790px;
	left: 520px;
}
#imgbox3{
	width: 120px;
	height: 120px;
	position: relative;
	top: -790px;
	left: 857px;
}
#searchboxcontent{
	font-weight: 500;
	color:#7D7D7D;
	position: relative;
	top: 355px;
	left: -1037px;
}
#convenient{
	font-size: 50px;
	font-weight: 600;
	color: #1200B3;
	position: relative;
	top: 100px;
	left: 350px;
}
#content1{
	font-size: 15px;
	font-weight: 500;
	color: #1200B3;
	position: relative;
	top: -770px;
	left: 125px;
}
#content2{
	font-size: 15px;
	font-weight: 500;
	color: #1200B3;
	position: relative;
	top: -896px;
	left: 570px;
}
#content3{
	font-size: 15px;
	font-weight: 500;
	color: #1200B3;
	position: relative;
	top: -1004px;
	left: 1020px;
}

.box1{
	width: 80px;
	height: 7px;
	background-color: #1200B3;
	position: relative;
	top: 65px;
	left: 350px;
}
.box2{
	width: 1200px;
	height: 7px;
	background-color: #1200B3;
	position: relative;
	top: -50px;
	left: 95px;
}

#searchbox{
	width: 200px;
	height: 25px;
	padding: 10px 25px;
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #5E5E5E;
	border-radius: 15px;
	position: relative;
	top: 410px;
	left: 100px;
	color: aliceblue;

}
#contentpic{
	width: 400px;
	height: auto;
	float: right;
	position: relative;
	top: -50px;
	left: -150px;
}
#waitingfor{
	color:#FF9100;
}
#firstpagecontent_heading{
	margin-top: 100px;
	font-family: Roboto;
	font-size: 59;
	position: relative;
	top: -210px;
	float: left;
	
}
#content_subhead{
	font-size: 20px;
	position: relative;
	top: 270px;
	left: -430px;
	float: left;
	color: #6C6C6C;
}
#logo {
	margin-top: 15px;
	margin-left: 10px;
}
li {
	style: none;
}

.top_bar {
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
/*	box-shadow: -3px 0 10px rgb(0 0 0 / 0.2);*/
}
.top_bar ul li {
	list-style: none;
	padding: 25px;
	margin: auto;
	float: left;
}
button {
	background: #FFCA00;
	color: #FFFFFF;
}
#topbarright {
	padding: -5px;
	margin: auto;
	float: right;
}
#thirdpic1{
	width: 300px;
	position: relative;
	top: 150px;
	left: 50px;
	float: left;
	border-radius: 15px;
}
#thirdpic2{
	width: 300px;
	position: relative;
	top: 150px;
	left: 250px;
	float: left;
	border-radius: 15px;
}
#thirdpic3{
	width: 300px;
	position: relative;
	top:110px;
	left: 370px;
	margin: 40px;
	border-radius: 15px;

}
#thirdpic4{
	width: 300px;
	position: relative;
	top: 508px;
	left: -940px;
	border-radius: 15px;

}
#thirdpic5{
	width: 300px;
	position: relative;
	top: 200px;
	left: 550px;
	border-radius: 15px;
}
#thirdpic6{
	width: 300px;
	position: relative;
	top: 200px;
	left: 700px;
	border-radius: 15px;
/*	float: left;*/
}
#react{
	width: 400px;
	position: relative;
	left: 200px;
	top: -200px;
}
#num_product{
	font-size: 20px;
	font-weight: 550;
	
}
#footerlogo{
	position: relative;
	top: 50px;
	left: 100px;
}
#footerins{
	position: relative;
	top: 100px;
	left: -40px;
}
#footerfb{
	position: relative;
	top: 102px;
	left: -20px;
}
#footercontent1{
	font-size: 16px;
	font-weight: 370;
	color: #FFFFFF;
	position: relative;
	top: 100px;
	left: 110px;
}
#footercontent2{
	font-size: 16px;
	font-weight: 370;
	color: #FFFFFF;
	position: relative;
	top: 100px;
	left: 110px;
}
#footercontent3{
	font-size: 16px;
	font-weight: 480;
	color: #FFFFFF;
	position: relative;
	top: -50px;
	left: 410px;
}
#footercontent4{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: -40px;
	left: 410px;
}
#footercontent5{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: -40px;
	left: 409px;
}#footercontent6{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: -40px;
	left: 409px;
}
#footercontent7{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: 5px;
	left: 109px;
}

#footercontent8{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: -31px;
	left: 409px;
}

#footercontent9{
	font-size: 16px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: 160px;
	left: 109px;
}

#footercontent10{
	font-size: 25px;
	font-weight: 380;
	color: #FFFFFF;
	position: relative;
	top: 200px;
	left: 409px;
}

#footerlinerow1{
	width: 1180px;
	height: 3px;
	background-color: #FFFFFF;
	position: relative;
	top: -10px;
	left: 100px;
}
#footerlinerow2{
	width: 1180px;
	height: 3px;
	background-color: #FFFFFF;
	position: relative;
	top: 40px ;
	left: 100px ;
}
#footerlinecolum1{
	width: 3px;
	height:40px;
	background-color: #FFFFFF;
	position: relative;
	top: -170px;
	left: 330px;
}
#footerlinecolum2{
	width: 3px;
	height: 40px;
	background-color: #FFFFFF;
	position: relative;
	top: -210px ;
	left: 580px ;
}
#imgcopyright{
	width: 30px;
	position: relative;
	top: 62px;
	left: 530px;
}
/*--------------------------------------------------------------------------------*/
/*CSS same document*/
#cover_page{
	width: 100%;
	height: 250px;
	background-color: #FA0004;
}
#profile_pic{
	width: 15%;
	height: auto;
	background-color: chocolate;
}
.firstpagecontentboxprofile {
	padding-top: 20px;
	width: 100%;
	height: 1780px;
	background-color:#F5FDFF;
	background-size: 100%;
}
#profile{
	width: 100%;
	height:350px;
}
#profileproduct{
	width: 100%;
	
}
.footerprofile{
	margin-top: 1000px;
	width: 100%;
	height: 750px;
	background-color: #000287;
}
/*-------------------------------------------------------------*/
/*Courses CSS*/
.boxtitle{
	width: 44%;
	height: 150px;
}
.content_a{
	width: 100%;
	height: 370px;
	background-color: #FFB700;
}
.namecontent_a{
	width: 20%;
	height: 40px;
	background-color: #0018A7;
	color: #fff;
	font-size: 17px;
	text-align: center;
	font-weight: 450;
	margin-top: 200px
}
.video{	
	width: 30%;
	height: 270px;
	background-color: aqua;
	border-radius: 10px;
}
.video_content{
	width: 600px;
	font-size: 22px;
	color:#1D1D1D;
	margin-top: 20px;
}
/*-------------------------------------------------------------------*/
/*CSS sản phẩm*/
.product_search {
	margin-top: -20px;
	width: 20%;
	height: 800px;
	background-color: #FFFFFF;
}
.categories{
	width: 100%;
	height: 160px;
	border-width: 2px 4px;
	border-color:#D3D3D3;
	border-style: solid;
	font-size: 24px;
	font-weight: 500;
	color: #424242;
	text-align: center;
}
.product_pics{
	width: 100%;
	height: 819px;
	margin-top:-20px;
	background-color: #F5FDFF;
}
.product_pics_cover{
	width: 210px;
	height: 210px;
	float: left;
	margin-left: 60px;
	margin-top: 60px;
	background-color: #11008A;
	box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}
.boxbutton{
	width: 20%;
	height: 70px;
	margin-left: 140px;
	margin-top: 31px;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: #0017A3
}
.font_process{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin-top: 23px;
	color: white;
}
.process_content{
	width: 99.1%;
	height: 800px;
	border-style: solid;
	border-color: #0017A3;
	background-color: #fff;
	border-width: 5px;
	margin-top: 106px;

}
.process_pic{
	width: 28%;
	height: 230px;
	background-color: aqua;
	margin-top: 100px;
	margin-left: 65px;
	border-radius: 15px;
	float: left;

}

.process_pics{
	width: 100%;
	height: 230px;
	background-color: aqua;
	margin-top: 100px;
	margin-left: 65px;
	border-radius: 15px;
	float: left;
}

.chatting_content{
	width: 99.1%;
	height: 650px;
	border-style: solid;
	border-color: #0017A3;
	background-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}

#thumbnail_avt{
	width: 10%;
	height: 85%;
	background-color: #FFFFFF;
}
#chatbox{
	width: 90%;
	height: 85.4%;
	background-color:#AFD6EE;
	float: left;
}
#avtboxchat{
	float: left;
	width: 10%;
	height: 100%;
}
#chatbubble1{
	width: 30%;
	height: 100%;
/*	background-color: #000000;*/
	margin-left: 0%;
	float: left
}
#chatbubble2{
	width: 40%;
	height: 100%;
/*	background-color: #000000;*/
	margin-right: 2%;
	float: right;
}
.chat1{
	width: 100%;
	background-color:#0017A3;
}

.chat2{
	width: 100%;
	background-color:#fff;
}
.chatbox{
	width: 100%;
	height: 66px;
/*	background-color: red; */
}
#checkboxchatbox{
	width: 84.9%;
	height: 40px;
	background-color: #E3E3E3;
	float: right;
	border-radius: 5px;
	margin-top: 11px;
	margin-right: 11px;
}